body{
    overflow-x:hidden;
    overflow-y:hidden;
}

.map-style {
    width: 100%; 
    height: 100vh;
}

.custom-nav {
    background-color: #215273;
}

.nav-text {
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
}

.sidebar-profile {
    width: 500px;
    height: 100vh;
    background-color: #21527360;
    text-align: center;
}

.lato-text {
    font-family: 'Lato', sans-serif;
}

.btn-create-event {
    margin-top: 25px;
    background-color: #215273 !important;
    border:  #215273 !important;
    padding: 10px !important;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
}

.profile-pic {
    margin-top: 50px;
    margin-bottom: 50px;
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    border-style: solid;
    border-color: #215273;
    border-width: 10px;
}

.profile-name {
    margin-bottom: 20px;
    color: #1c4662;
    letter-spacing: 2px;
}

.profile-location {
    font-size: 24px;
    letter-spacing: 3px;
}

.show-event {
    margin: 50px;
    font-family: 'Lato', sans-serif;
}

.show-event-map {
    width: 100%;
    height: 100vh;
}

.btn-create-event {
    margin-top: 20px;
    margin-bottom: 25px;
}

.form-container {
    margin-top: 50px;
    margin-left: 50px;
}

#id_event_name {
    width: 1000px;
}

#id_host_name {
    width: 1000px;
}

#id_location {
    width: 1000px;
    height: 30px;
}

#id_short_description {
    width: 1000px;
    height: 100px;
}

#id_long_description {
    width: 1000px;
    height: 100px;
}